<footer th:fragment="footer" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container footerWrap">
        <div class="leftFoot row">
            <p class="welcome-text">Back To Top</p>
        </div>

        <div class="middleFooter row justify-center">
            <div>
                <a class="footer-link" th:href="@{/}">Home</a>
            </div>
            <div>
                <a class="footer-link" th:href="@{/profile}">Profile</a>
            </div>
            <ul>
                <li class="footer-link" sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                <li class="footer-link" sec:authorize="isAuthenticated()"><a id="logOutButton">Logout</a></li>
            </ul>
        </div>
    </div>
</footer>