#body {
    margin: 0
}

.nav {
    display: flex;
    justify-content: end;
    height: 11vh;
    width: 100vw;
    font-family: Poppin, Inter, sans-serif;
    font-size: 1.3rem;
    background: rgba(0, 0, 0, .2);
}

.projectDrop {
    padding: 10px;
    cursor: pointer;
}

.menu-wrap {
    display: flex;
    padding-right: 5px;
    font-size: 1.1em;
    min-width: 33vw;
}

.menu-wrap ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-wrap a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .3em;
    transition: all ease-in .3s;
}

.menu-wrap a:visited {
    text-decoration: none;
    color: inherit;
}

.menu-wrap a:hover {
    color: #fff;
}

#menuToggle {
    display: none;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.nav-dropdown {
    position: relative;
}

.nav-dropdown .dropdown-content {
    /*position: absolute;*/
    /*top: 120%;*/
    /*width: 100%;*/
    height: fit-content;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    transition: all ease .2s;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.nav-dropdown:hover .dropdown-content {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
}

.nav-dropdown:hover .dropdown-content li:hover {
    background-color: #ccc;
    color: #333;
}