.accountForm {
    border: 1px black solid;
    padding: 4em;
    border-radius: 5px;
    background-color: var(--secondaryGreen);
    display: flex;
    flex-direction: column;
}

.fieldRow {
    padding: 1px;
}

.signupLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.formLabels {
    font-weight: 500;
    color: white;
}

.login-register-Btn {
    padding: 2px 2em;
    margin: 0;
    width: auto;
    align-self: center;
    background-color: var(--cta);
    color: white;
    border-radius: 15px;
    font-weight: 600;
    font-size: larger;
}

.register-link {
    color: var(--primaryGreen);
}