<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reactive Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/codeupProject.css}">

</head>

<body>
<nav th:insert="~{partials/navbar:: navbar}"></nav>
<!-------------------------NAV BAR TOP-------------------------->
<div class="synopsis">
    <h1>Reactive Design Project</h1>
    <p>This is our second project in the Codeup course. In this project, we created a dynamic and user-friendly website
        for Codeup Design, a fictional company, by leveraging Bootstrap's powerful grid system. Working solo on this
        project, I provided a comprehensive style guide and 4 wireframes, tailored to different device screen sizes (xs,
        sm, md, lg, and xl), to ensure the site's responsiveness. Our goal was to seamlessly integrate the design
        specifications with Bootstrap's grid, enabling a visually appealing and accessible website experience across
        various devices and screen resolutions.</p>
</div>
<!------ nav bar. This is nice now, don't touch! ------>
<nav class="navbar navbar-expand-lg bg-body-tertiary py-0 px-0">
    <div class="container-fluid" style="background-color: #F0F0F0">
        <img class="logo" src="https://cdn.discordapp.com/attachments/526187085741162498/1133120366265503744/logo.png"
             alt="three circles">
        <a class="navbar-brand d-none d-lg-block" href="#" style="color: #1e1e1e">Codeup Design</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" style="color: #1e1e1e" >Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #1e1e1e">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #1e1e1e">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #1e1e1e">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!------- main text. This is also nice! Don't mess with! --------->
<div class="text-center">
    <div class="row row-cols-3">
        <div class="col-12 mainText">VISUAL DESIGN & WEB DEVELOPMENT</div>
        <div class="col-12 city">FROM PARK CITY, UTAH</div>
    </div>
</div>
<!----------- circles are done!!--------->
<div class="text-center container px-0">
    <div class="row row-cols-auto justify-content-center">
        <div class="col-5 col-md-2 col-lg-2 col-xl-2 just">
            <!--I hate these... why do hey have to fight so much, just be friends already!!-->
            <div class="col fourCircles design">
                Design
            </div>
        </div>
        <div class="col-5 col-md-2">
            <div class="col fourCircles develop">
                Develop
            </div>
        </div>
        <div class="col col-5 col-md-2"> <!-- ima need some mental support by the end of this.. and a nap-->
            <div class="fourCircles support">
                Support
            </div>
        </div>
        <div class="col col-5 col-md-2">
            <div class="fourCircles host">
                Host
            </div>
        </div>

        <!--------------- selected work ------------>

        <div class="border-top">
            <div class="container spaceAbove text-center">
                <div class="row">
                    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 paddingBottom">Selected Work</div>
                    <div class=" col col-lg-4 col-xl-4 paddingBottom d-none d-lg-block">The Last</div>
                    <!---- pictures ----->
                    <div class="col-md-12 col-lg-8 col-sm-12"> <!----- this is the monster, keep contained!!-->
                        <div class="container"> <!--- this is the container for all pix-->
                            <!----- Codey was here, but he ran away in tears ------>
                            <div class="row justify-content-center "> <!-- this is the row for the 2 top pix-->
                                <img class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mainImage px-0 py-0 mx-1 my-1"
                                     src="https://cdn.discordapp.com/attachments/526187085741162498/1133119808393719828/apple-ipad.jpeg"
                                     alt="a picture of an ipad mixed with some yummy green apples">

                                <img class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mainImage px-0 py-0 mx-1 my-1"
                                     src="https://cdn.discordapp.com/attachments/526187085741162498/1133120242562904064/macbook.png"
                                     alt="a bunch of electronics lined up appealingly ">
                            </div>
                        </div>
                        <div class="container">
                            <div class="row row-cols-8 justify-content-center">
                                <img class="col-lg-5 col-md-5 col-sm-12 mainImage px-0 py-0 mx-1 my-1"
                                     src="https://cdn.discordapp.com/attachments/526187085741162498/1133120274905186334/man.png"
                                     alt="creepy guys face">
                                <img class="col-lg-5 col-md-5 col-sm-12 mainImage px-0 py-0 mx-1 my-1"
                                     src="https://cdn.discordapp.com/attachments/526187085741162498/1133120328827150417/security.png"
                                     alt="the word security and a cursor">
                            </div>
                        </div>
                    </div>
                    <!------------- second column --------->

                    <div class="container col-lg-4">
                        <!----- <<<<<< need this, don't touch it again!! it makes column there when lg/xl---->
                        <div class="row secondColumn d-none d-lg-block">
                            <div class="col-lg-12 nextColumn boldFont"><img class="secondImage" src="https://cdn.discordapp.com/attachments/526187085741162498/1133120304235950180/mobile-phone.png" alt="phone on desk">THE ADAM BAR AND
                                ABSOLUTE POSITIONING
                            </div>
                            <div class="col-lg-12 nextColumn boldFont"><img class="secondImage" src="https://cdn.discordapp.com/attachments/526187085741162498/1133120170278277190/head.png"
                                                                            alt="a creepy base for a 3d head">NIBBLER
                                AWESOME WEBSITE TESTING
                            </div>
                            <div class="col-lg-12  nextColumn boldFont"><img class="secondImage"
                                                                             src="https://cdn.discordapp.com/attachments/526187085741162498/1133120205082591333/ipad.png"
                                                                             alt="happy ipad! (it just kinda looks happy)">HOW
                                TO GET GOOGLE TO LIKE YOU
                            </div>
                            <div class="col-lg-12  text-start paddingBottom">Last Tweet</div>
                            <div class="col-lg-12  nextColumn text-start">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Aliquam corporis cum dignissimos incidunt minus nostrum perspiciatis
                                praesentium sint? Aperiam ducimus, ex illo minima minus quasi quidem reiciendis
                                reprehenderit veniam voluptatem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{partials/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>