<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head :: head ('Log In')}"></head>
<body>
<div class="page-wrapper">
    <nav th:replace="~{partials/navbar :: navbar}"></nav>
    <div class="container grow align-center justify-center" style="margin-top: 120px">
        <div class="row justify-center">
            <div class="column shrink signupLogin">
                <h2>Log In</h2><br>

                <form th:action="@{/login}" th:method="post" class="accountForm">
                    <label  class="formLabels" for="username">Username</label>
                    <input class="row fieldRow" type="text" id="username" name="username" autofocus><br>
                    <label  class="formLabels" for="password">Password</label>
                    <input class="row fieldRow" type="password" id="password" name="password"><br><br>
                    <input class="row justify-center login-register-Btn" type="submit" value="Log In"><br><br>
                    <div class="row">
                        <a class="register-link" th:href="@{/register}">Not Registered? Click Me To Sign Up!</a>
                    </div>
                </form>
            </div>
            <div class="anchor"></div>
        </div>

    </div>
</div>
<footer th:insert="~{partials/footer :: footer}"></footer>
</body>
</html>