<!DOCTYPE html>
<html lang="en">
<head th:insert="~{partials/head :: head ('Project List')}"></head>

<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>Project List</h1>
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <img src="/images/coffeeProjectImage.tiff"
                                 alt="Avatar" style="width:200px">
                        </div>
                        <div class="column">
                            <h4><b>Coffee Project</b></h4>
                            <p>A blurb </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<footer th:insert="~{partials/footer :: footer}"></footer>
</body>
</html>