<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head ('Register for Dungeons and Dust Bunnies')"></head>
<body>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow align-center justify-center" style="margin-top: 100px">
    <div class="row justify-center align-center">
      <div class="column register-form align-center">
        <h1>Registration</h1><br><br>
        <form th:action="@{/register}" th:method="post">
          <label for="username">Username</label><br>
          <input class="row" type="text" id="username" name="username" required><br>
          <label for="email">Email</label><br>
          <input class="row" type="email" id="email" name="email" required><br>
          <label for="password">Password</label><br>
          <input class="row" type="password" id="password" name="password" onkeyup="passConfirm()"><br>
          <label for="password">Confirm Password</label><br>
          <input class="row" type="password" id="passwordConfirmation" name="passwordConfirmation" onkeyup="passConfirm()"><br>

          <div class="justify-center align-center text-center" id="message"></div>

          <input class="row justify-center submit login-register-Btn" type="submit" value="Sign me up !"><br>
          <div class="row register-link">
            <a th:href="@{/login}">Already Registered? Click Me To Log In!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>

  function passConfirm() {
    let password = document.getElementById(`password`).value;
    let confirmPassword = document.getElementById(`passwordConfirmation`).value;
    let message = document.getElementById(`message`);
    if (password === confirmPassword) {
      message.style.color = `teal`;
      message.innerHTML = `Passwords match.`
    } else {
      message.style.color = `red`;
      message.innerHTML = `Passwords do not match.`
    }
    document.getElementById(`password`).onkeyup = passConfirm;
    document.getElementById(`confirm_password`).onkeyup = passConfirm;
  }

</script>
</body>
</html>